torch
torchvision
timm
open_clip_torch
transformers
safetensors
huggingface_hub
diffusers
accelerate
monai
nibabel
Pillow
numpy
scipy
pandas
scikit-learn
scikit-image
matplotlib
seaborn
tqdm
torchmetrics
pytorch_msssim
lpips
frd-score
pyradiomics